:root {
  --input-color: #CECECE;
}

nav {
  border-bottom: 1px solid #C0C0C0;
  padding: 2rem !important;
}

nav .navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

nav button {
  display: none;
}

nav li.active a.nav-link {
  color: #000000 !important;
}

nav a.nav-link {
  color: #CECECE !important;
  padding-left: 2rem;
  padding-right: 2rem;
}

nav a.nav-link:hover {
  color: #000000 !important;
}

div.row {
  margin: 0;
}

input.search-input {
  font-size: 1.3rem;
}

input.search-input:focus {
  font-size: 1.3rem;
  border-color: #000;
}

div.resultContainer {
  margin-top: 1rem;
  height: 25rem;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

div.resultContainer table {
  margin: 0;
}

div.resultContainer table tr:first-child td {
  border-top: none;
}

div.resultContainer table tr.selected {
  background-color: #CECECE;
}

div.button-group {
  margin-top: 1rem;
}

div.button-group button {
  padding: 1rem 2rem 1rem 2rem;
}

#studentSearch {
  display: inline;
  position: absolute;
  right: 15px;
  width: 20rem;
}

#mainContainer {
  padding-top: 7rem;
  margin-bottom: 1rem;
}

#mainContainer #leftMenu > div:first-child {
  padding-right: 4rem;
}

#mainContainer #leftMenu .h3 {
  padding-bottom: 1rem;
}

#mainContainer #leftMenu .list-group-item.active {
  background-color: transparent;
  color: #651FFF;
}

#mainContainer #leftMenu .list-group-item:hover {
  background-color: #f7f7f9;
  cursor: pointer;
}

#mainContainer #leftMenu .list-group {
  margin-top: 2rem;
}

#mainContainer #leftMenu .list-group-item {
  border-radius: 0;
  border: 1px solid black !important;
  border-left: none !important;
  border-right: none !important;
  padding: 1rem;
  padding-left: 0.5rem;
}

#mainContainer .input-div > div {
  padding-bottom: 1.5rem;
}

#mainContainer .input-div label {
  color: var(--input-color);
}

#mainContainer .input-div input {
  padding-bottom: 0.7rem;
  font-size: 1.5rem;
  font-weight: 300;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--input-color);
}

#mainContainer .input-div input:valid {
  border-bottom: 2px solid black;
}

#mainContainer .input-div input::-webkit-input-placeholder {
  color: var(--input-color);
}

#mainContainer .input-div input:-moz-placeholder {
  color: var(--input-color);
}

#mainContainer .input-div input::-moz-placeholder {
  color: var(--input-color);
}

#mainContainer .input-div input:-ms-input-placeholder {
  color: var(--input-color);
}

#mainContainer .input-div input:focus {
  color: #000;
  border-color: #000;
}

.btn-group button {
  background-color: transparent;
  border: none !important;
  outline: 0 !important;
  border-radius: 0;
  font-size: 2rem;
  padding: .5rem 1rem;
  color: rgba(0, 0, 0, 0.3);
}

.btn-group button:first-child {
  padding-left: 0;
}

.btn-group button:hover {
  background-color: transparent;
  color: rgba(101, 31, 255, 0.5);
}

.btn-group button:focus {
  border: none !important;
  outline: 0 !important;
}

.btn-group button.active {
  color: #651FFF;
  background-color: transparent;
}

@media screen and (max-width: 1199px) {
  div#mainContainer {
    padding-top: 2rem;
  }

  .form-control {
    overflow-x: scroll;
  }

  .form-control * {
    overflow-x: visible;
  }

  nav button {
    display: inherit;
  }

  nav a.nav-link {
    text-align: right;
    padding-left: inherit;
    padding-right: inherit;
  }

  #studentSearch {
    display: block;
    position: relative;
    right: auto;
    width: 100%;
    margin-top: 1rem;
  }

  div.button-group button {
    font-size: 1rem;
    padding: .5rem 1rem .5rem 1rem;
  }
}
