@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html, body {
	height: 100%;
	margin: 0;
}

nav a {
	color: #000;
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
}

.container-center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.center-elem {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	transform: translate(-50%, -50%);
}

.center-text {
	text-align: center;
}

.btn-transparent {
	background-color: transparent;
	color: #CECECE;
}

.btn-transparent:hover {
	color: #000000;
}
